{% extends 'base.html' %}
{% block content %}
  <div class="text-center">
    <h1>Acerca de mí</h1>
    <p>Soy Pancho, curioso profesional de tiempo completo y entusiasta de todo lo que me hace decir "esto lo puedo arreglar yo!". Mezclo música como DJ por gusto, revivo celulares por deporte, y tengo un pequeño peludo chihuahua llamado Vito. Me obsesionan los juegos de mesa, los videojuegos, y entender cómo funciona el mundo, desde la inteligencia artificial hasta la psicología humana. Me gusta aprender, hackear la rutina y transformar lo cotidiano en algo con propósito. Si no estoy arreglando algo, probablemente estoy soñando un proyecto nuevo… o preparando café para pensar mejor.</p>
    <p>Este sitio es una prueba de concepto creada con Django.</p>
  </div>
{% endblock %}
